html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #0f0f0f;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../img/background-image.jpg');
    color: #ffffff;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.inner-page {
    background-color: #f8f5f2;
    background-image: url('../img/gradient_pattern.png');
    background-position: 0 0;
    background-repeat: repeat;
    color: #000000;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font: inherit;
    text-align: center;
    text-transform: inherit;
    vertical-align: middle;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
    cursor: default;
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 24px;
    line-height: 30px;
}

.filters ul {
    line-height: 18px;
    list-style: none;
}

.filters label {
    cursor: pointer;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input:active + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-item a {
    color: #000000;
}

.catalog-item-category {
    text-transform: none;
}

.catalog-item-title {
    text-transform: uppercase;
}

.catalog-item-price b {
    background-color: #e5e5e5;
    line-height: 18px;
}

.catalog-item-price a {
    color: #ffffff;
    line-height: 18px;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}

.pagination-item a:hover,
.pagination-item a:focus
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus
.pagination-item-current a:active {
    background-color: #ffffff;
    color: #000000;
    cursor: default;
}

.main-navigation {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a {
    color: #ffffff;
}

.website-navigation,
.user-navigation,
.benefits-list,
.news-list,
.social-list,
.footer-social-list {
    list-style: none;
}

.website-navigation a:hover,
.website-navigation a:focus,
.website-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.website-navigation a:active {
    background-color: #242424;
}

.benefits h3 {
    font-size: 30px;
    line-height: 42px;
}

.benefits-list {
    color: #f7f4f1;
}

.content-columns {
    background-color: #f8f5f2;
    background-image: url('../img/gradient_pattern.png');
    background-position: 0 0;
    background-repeat: repeat;
    color: #000000;
}

.content-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-item time {
    text-transform: none;
}

.appointment input {
    background-color: transparent;
    border: 2px solid #000000;
    font: inherit;
}

.appointment input:focus,
.appointment input:active {
    border-color: #663d15;
}

.main-footer,
.main-footer a {
    color: #ffffff;
}

.main-footer {
    background-color: #010101;
    background-image: url('../img/gradient_pattern_footer.png');
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    background-color: #ffffff;
    color: #000000;
}

.modal-login {
    background-color: #f9f6f3;
    background-image: url('../img/gradient_pattern.png');
    background-position: 0 0;
    background-repeat: repeat;
    color: #000000;
}

.modal-login a {
    color: #000000;
    text-decoration: underline;
}

.modal-login a:hover,
.modal-login a:focus {
    text-decoration: none;
}

.modal-login h2 {
    font-size: 30px;
    line-height: 42px;
}

.modal-login input {
    background-color: #f9f6f3;
    border: 2px solid #000000;
    color: #000000;
    font: inherit;
    text-transform: uppercase;
}

.modal-login input:focus,
.modal-login input:active {
    border-color: #663d15;
}

.remember-user-label {
    cursor: pointer;
}

.remember-user-label:hover,
.remember-user-label:active {
    color: #663d15;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    text-align: center;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

