/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    background-color: #0f0f0f;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../img/background-image.jpg');
    color: #ffffff;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

.main-header {
    margin-bottom: 75px;
}

.inner-page {
    background-color: #f8f5f2;
    background-image: url('../img/gradient_pattern.png');
    background-position: 0 0;
    background-repeat: repeat;
    color: #000000;
}

.inner-page .main-header {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 53px;
}

.inner-page .main-navigation-logo {
    height: 24px;
    margin: 23px 20px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 111px;
}

.inner-page .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.inner-page .main-navigation-lists-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 770px;
}

.inner-page .main-footer {
    margin-top: 50px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin-right: 14px;
    padding: 10px 30px;
    text-align: center;
    text-transform: inherit;
    vertical-align: middle;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.button:disabled,
.button.disabled {
    background-color: #000000;
    cursor: default;
    opacity: 0.5;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 23px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    margin-right: 40px;
    position: relative;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    background-color: #000000;
    content: '';
    height: 8px;
    position: absolute;
    right: -25px;
    top: 7px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 8px;
}

.breadcrumbs li:last-child::after {
    display: none;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
    cursor: default;
}

.product-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.product-photos {
    width: 460px;
}

.product-meta-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 33px;
}

.product-description {
    margin: 0;  
}

.product-info {
    margin-top: 55px;
    padding: 20px 10px 0 0;
    width: 390px;
}

.product-photo-full {
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    height: 498px;
    margin: 55px 0 20px 0;
    width: 460px;
}

.product-photo-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 460px;
}

.product-photo-preview li {
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    height: 149px;
    width: 140px;
}

.product-photo-preview li:hover,
.product-photo-preview li:focus,
.product-photo-preview li:active {
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-vendor-code {
    color: #aeaeae;
}

.product-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 0 65px 0;
}

.product-price b {
    background-color: #e5e5e5;
    padding: 13px 25px 11px;
    text-align: center;
    width: 109px;
}

.product-price .button {
    margin-right: 0;
    padding: 13px 18px 11px;
    width: 78px;
}

.product-set h2 {
    font-size: 24px;
    line-height: 30px;
}

.product-set-list {
    list-style: none;
    margin: 32px 0 0 0;
    padding: 0 0 0 21px;
}

.product-set-list li {
    position: relative;
}

.product-set-list li::before {
    background-color: #000000;
    content: '';
    height: 8px;
    left: -21px;
    position: absolute;
    top: 7px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 8px;
}

.filters legend {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
    padding: 0;
}

.filters ul {
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-option {
    margin-bottom: 19px;
    padding-left: 42px;
}

.filter-option:last-child {
    margin-bottom: 0;
}

.filters label {
    cursor: pointer;
}

.filter-input + label {
    position: relative;
}

.filter-input-checkbox + label::before {
    background-color: transparent;
    border: 2px solid #000000;
    content: '';
    height: 20px;
    left: -42px;
    position: absolute;
    top: -1px;
    width: 20px;
}

.filter-input-checkbox:checked + label::before {
    background-image: url('../img/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input:active + label,
.filter-option label:hover,
.filter-option label:focus,
.filter-option label:active {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}


.filter-input-radio + label::before {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #000000;
    content: '';
    height: 19px;
    left: -42px;
    position: absolute;
    top: 0;
    width: 19px;
}

.filter-input-radio:checked + label::after {
    background-color: #000000;
    border-radius: 50%;
    content: '';
    height: 9px;
    position: absolute;
    width: 9px;
    left: -37px;
    top: 5px;
}

.apply-filters {
    margin-top: 53px;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-filters {
    width: 180px;
}

.catalog-filters fieldset {
    border: none;
    margin: 54px 0 0;
    padding: 0;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 60px 0 25px 0;
    padding: 0;
}

.catalog-item {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
    width: 220px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}
  
.catalog-item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 14px 16px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.catalog-item a {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.catalog-item-image {
    height: 165px;
    margin: 0;
    width: 220px;
}

.catalog-item-category {
    display: block;
    text-transform: none;
}

.catalog-item-title {
    text-transform: uppercase;
}

.catalog-item-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px 16px;
}

.catalog-item-price b {
    background-color: #e5e5e5;
    line-height: 18px;
    width: 109px;
    padding: 13px 25px 11px;
    text-align: center;
}

.catalog-item-price a {
    color: #ffffff;
    line-height: 18px;
    margin: 0;
    padding: 13px 18px 11px;
    width: 78px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-item {
    margin-right: 7px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    background-color: #000000;
    color: #ffffff;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 19px;
}

.pagination-item a:hover,
.pagination-item a:focus
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus
.pagination-item-current a:active {
    background-color: #ffffff;
    color: #000000;
    cursor: default;
}

.main-navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a {
    color: #ffffff;
}

.main-navigation-logo {
    height: 155px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 371px;
}

.main-navigation-wrapper {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
    width: 100%;
}

.main-navigation-wrapper .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.website-navigation,
.user-navigation,
.benefits-list,
.news-list,
.social-list,
.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news-list {
    margin-bottom: 25px;
}

.website-navigation a:hover,
.website-navigation a:focus,
.website-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
    background-color: #242424;
}

.user-navigation a:hover::before,
.user-navigation a:focus::before,
.user-navigation a:active::before {
    opacity: 1;
}

.website-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 620px;
}

.website-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;
}

.website-navigation-current span {
    border-bottom: 4px solid #ffffff;
    padding-bottom: 22px;
}

.user-navigation .login-link {
    padding-left: 50px;
    position: relative;
}

.login-link::before {
    background-image: url(../img/login.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    height: 16px;
    left: 24px;
    opacity: 0.3;
    position: absolute;
    top: 26px;
    width: 16px;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 140px;
}

.main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container {
    padding: 0 10px;
    width: 940px;
}

.benefits {
    margin-bottom: 60px;
}

.benefits-list {
    color: #f7f4f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.benefits-item {
    width: 300px;
    text-align: center;
}

.benefits-item p {
    margin: 0 10px;
}

.benefits-item h3 {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 60px 0;
    position: relative;
}

.benefits-item h3::after {
    background-color: #f7f4f1;
    bottom: -30px;
    content: '';
    height: 20px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 20px;
}

.content-columns {
    background-color: #f8f5f2;
    background-image: url('../img/line.png'), 
     url('../img/gradient_pattern.png');
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
    color: #000000; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
    padding: 55px 80px 50px;
}

.content-columns .button,
.main-footer .button {
    margin: 0;
    padding: 10px;
    width: 140px;
}

.news {
    width: 380px;
    padding-right: 30px;
}

.gallery {
    width: 300px;
}

.gallery-content {
    border: 7px solid #ffffff;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 164px;
    margin: 0;
}

.gallery img {
    height: 164px;
    width: 286px;
}

.gallery-buttons,
.contacts-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.gallery-buttons {
    margin-top: 40px;
}

.contacts-buttons {
    margin-top: 23px;
}

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0 0 25px 0;
}

.contacts-container {
    width: 300px;
}

.appointment {
    width: 300px;
}

.appointment-info {
    margin: 0 0 15px 0;
}

.appointment-form {   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.appointment-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 10px 0;
    width: 140px;
}

.appointment-item label {
    margin: 0 0 9px 10px;
}

.appointment-item input {
    padding: 8px 15px 7px;
    width: 140px;
}

.appointment-form .button {
    margin-top: 10px;
    width: 100%;
}

.content-columns h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 20px 0;
}

.news-item p {
    margin: 0;
}

.news-item {
    margin-bottom: 25px;
}

.news-item time {
    text-transform: none;
}

.appointment input {
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    font: inherit;
    line-height: 14px;
}

.appointment input::-webkit-input-placeholder {
    color: #000000;
}

.appointment input::-moz-placeholder {
    color: #000000;
}

.appointment input:-ms-input-placeholder {
    color: #000000;
}

.appointment input::-ms-input-placeholder {
    color: #000000;
}

.appointment input::placeholder {
    color: #000000;
}

.appointment input:focus,
.appointment input:active {
    border-color: #663d15;
}

.main-footer,
.main-footer a {
    color: #ffffff;
}

.main-footer {
    background-color: #010101;
    background-image: url('../img/gradient_pattern_footer.png');
    background-position: 0 0;
    background-repeat: repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 65px;
    padding: 60px 0;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-contacts {
    text-align: left;
}

.footer-contacts a {
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    background-color: #ffffff;
    color: #000000;
}

.modal {
    background-color: #f9f6f3;
    background-image: url('../img/gradient_pattern.png');
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    color: #000000;
    display: none;
    position: fixed;
}

.modal-show {
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
    display: block;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.modal-map {
    border: 7px solid #ffffff;
    height: 574px;
    left: 50%;
    margin-left: -390px;
    margin-top: -287px;
    top: 50%;
    width: 780px;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
}

.modal-map p {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.modal-map .modal-close {
    right: -42px;
}

.modal-login {
    left: 50%;
    margin-left: -230px;
    padding: 50px 80px 60px;
    top: 120px;
    width: 460px;
}

.modal-login h2 {
    margin: 0 0 30px 0;
}

.modal-login > p {
    margin: 0 0 15px 0;
}

.modal-login a {
    color: #000000;
    text-decoration: underline;
}

.modal-login a:hover,
.modal-login a:focus {
    text-decoration: none;
}

.modal-login h2 {
    font-size: 30px;
    line-height: 42px;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
    background-color: #f9f6f3;
    border: 2px solid #000000;
    color: #000000;
    font: inherit;
    line-height: 14px;
    padding: 7px 39px 7px 15px; 
    text-transform: uppercase;
    width: 100%;
}

.modal-login input[type="text"]::-webkit-input-placeholder, .modal-login input[type="password"]::-webkit-input-placeholder {
    color: #000000;
}

.modal-login input[type="text"]::-moz-placeholder, .modal-login input[type="password"]::-moz-placeholder {
    color: #000000;
}

.modal-login input[type="text"]:-ms-input-placeholder, .modal-login input[type="password"]:-ms-input-placeholder {
    color: #000000;
}

.modal-login input[type="text"]::-ms-input-placeholder, .modal-login input[type="password"]::-ms-input-placeholder {
    color: #000000;
}

.modal-login input[type="text"]::placeholder,
.modal-login input[type="password"]::placeholder {
    color: #000000;
}


.modal-login input:focus,
.modal-login input:active {
    border-color: #663d15;
}

.modal-login .button[type="submit"] {
    display: block;
    width: 100%;
}

.modal-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -37px;
    top: 7px;
}

.modal-close:active {
    outline: none;
}

.modal-close path {
    fill: #d0d0d0;
}

.user-login-icon,
.user-password-icon {
    position: relative;
}

.user-login-icon::after,
.user-password-icon::after {
    content: '';
    height: 15px;
    left: -27px;
    position: absolute;
    top: 2px;
    width: 15px;
}

.user-login-icon::after {
    background-image: url('../img/user.svg');
}

.user-password-icon::after {
    background-image: url('../img/lock.svg');
}

.extra-actions {
    margin: 16px 0;
}

.remember-user-label {
    cursor: pointer;
    padding-left: 33px;
    position: relative;
}

.remember-user-label::before {
    background-color: transparent;
    border: 2px solid #000000;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 20px;
}

.extra-actions-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.remember-user-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.remember-user-checkbox:checked + .extra-actions-container .remember-user-label::before {
    background-image: url('../img/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.remember-user-label:hover,
.remember-user-label:active,
.remember-user-checkbox:focus + .extra-actions-container .remember-user-label,
.remember-user-checkbox:active + .extra-actions-container .remember-user-label {
    color: #663d15;
}

.footer-social,
.footer-copyright {
    text-align: center;
}

.footer-contacts {
    margin: 0;
    width: 320px;
}

.footer-social {
    margin-left: 80px;
    width: 140px;
}

.footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 140px;
}

.footer-social b,
.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.social-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 43px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 43px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path,
.social-button:active path {
    fill: #000000;
}

.footer-copyright {
    margin: 0 0 0 auto;
    width: 140px;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}